body {
  background-color: #F9F9F9
}

#page {
	min-height:100vh; /* 1 */
	display:flex; /* 2 */
	flex-direction:column; /* 3 */
  background-color: #F9F9F9;

}

#content {
	flex-grow:1; /* 4 */
}

.slogan {
  font-size: 30px;
  color: #FC306C;
  text-align: center;
}

.container h5 {
  font-size: 22px;
  color: #FFF

}
.container h6 {
  font-size: 12px;
  color: #FFF

}

.home-img {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  padding-right: 20px;
  min-width: 200px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
