.sous-container {
  display: flex;
  flex-direction: row;
}

.personnality-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 12px;
}

  .personnality-header {
    display: flex;
    width: 100%;
    flex-direction: column;

  }

  .personnality-header .skills {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
  }

  .personnality-header img {
    position: relative;
    height: auto;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  .personnality-header .images a {
    position: relative;
    bottom: 70px;
    left: 15px;
  }

  .personnality-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
  }

  .personnality-content h2 {
    display: flex;
    margin: 20px 0px;
    padding: 40px 0px 0px 0px;
    border-top: solid 1px rgb(196, 196, 196);
  }


.purchase-sidebar {
  display: flex;
  width: 500px;
  flex-direction: column;
  height: fit-content;
  position: sticky;
  top: 20px;
}

  .purchase-sidebar .title {
    flex-direction: row;
    display: flex;
    margin-bottom: 20px;
  }

    .purchase-sidebar .title .rating {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    .purchase-sidebar .title .rating .fa-solid {
      padding-top: 3px;
    }
