.sous-container {
  display: flex;
  flex-direction: row;
}

.personnality-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 12px;
}

  .personnality-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: solid 1px rgb(196, 196, 196);
  }

  .personnality-header .skills {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }

  .personnality-header img {
    height: auto;
    width: 100%;
    image-rendering: auto;
    margin-bottom: 40px;
  }

  .personnality-header .images a {
    position: relative;
    left: 5%;
    bottom: 85%;
  }

  .personnality-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
  }

  .personnality-content h2 {
    display: flex;
    margin: 20px 0px;
    padding: 40px 0px 0px 0px;
    border-top: solid 1px rgb(196, 196, 196);
  }


.purchase-sidebar {
  display: flex;
  width: 500px;
  flex-direction: column;
  height: fit-content;
  position: sticky;
  top: 20px;
}

  .purchase-sidebar .title {
    flex-direction: row;
    display: flex;
    margin-bottom: 20px;
  }

    .purchase-sidebar .title .rating {
      position: absolute;
      right: 30px;
      top: 30px;
    }
