<div class="container">
<% if current_user.owner? %>
<h2>Mon compte propriétaire</h2>
<%= render 'adminprofile' %>
<% else %>
<h2>Mon compte utilisateur</h2>
<%= render 'userprofile' %>

<% end %>

<% if current_user.owner? %>

  <%= render 'adminowner' %>

<% else %>

  <%= render 'adminuser' %>

<% end %>
</div>
