<div class="container py-2">
  <h2 class="slogan">Ils ont évités la prison, alors pourquoi pas vous ?</h2>
  <%= render "personnalities/list-skills" %>
  <%= render "shared/personnality_card" %>

</div>
