<div class="d-flex justify-content-around p-3 mb-4">

<% @skills.each do |skill| %>

    <div class="d-flex flex-column text-center personnality-infos">
      <div class="icone-list-pers"> <i class="<%= skill.icone %>"></i></div>
      <div class="name-list-pers"><%= skill.name %></div>
    </div>
<% end %>
</div>
