<div class="d-flex justify-content-around p-3 mb-4">
  <div class="d-flex flex-column text-center personnality-infos">
    <div class="icone-list-pers"><i class="fa-solid fa-person-falling-burst"></i></div>
    <div class="name-list-pers">meurtre</div>
  </div>
  <div class="d-flex flex-column text-center personnality-infos">
    <div class="icone-list-pers"><i class="fa-solid fa-dollar-sign"></i></div>
    <div class="name-list-pers">fraude fiscale</div>
  </div>
  <div class="d-flex flex-column text-center personnality-infos">
    <div class="icone-list-pers"><i class="fa-solid fa-children"></i></div>
    <div class="name-list-pers">pédophilie</div>
  </div>
  <div class="d-flex flex-column text-center personnality-infos">
    <div class="icone-list-pers"><i class="fa-solid fa-wine-bottle"></i></div>
    <div class="name-list-pers">ivresse</div>
  </div>
  <div class="d-flex flex-column text-center personnality-infos">
    <div class="icone-list-pers"><i class="fa-solid fa-cannabis"></i></div>
    <div class="name-list-pers">drogue</div>
  </div>
  <div class="d-flex flex-column text-center personnality-infos">
    <div class="icone-list-pers"> <i class="fa-solid fa-person-dress-burst"></i></div>
    <div class="name-list-pers">violence conjugale</div>
  </div>
    <div class="d-flex flex-column text-center personnality-infos">
    <div class="icone-list-pers"> <i class="fa-solid fa-person-harassing"></i></div>
    <div class="name-list-pers">insulte</div>
  </div>

</div>
