<div class="header-content">
  <div class="profile-avatar">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class:"avatar-large", alt:"Le Wagon" , width: 200 %>
    <%= @personnality.skills %>
    <p>rating: etoile - <%=  @personnality.user.address %></p>
  </div>
</div>

<div class="body-content">
  <div class="personnalit-description">
    <div class="description">

    </div>

    <div class="calender">

    </div>
  </div>

  <div class="sidebar">

  </div>
</div>
<%# <%= <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> %> %>
