.btn-ghost {
  color: #1c1c1c;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: 600;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: white;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  background-color: #FF0057;
}

.btn-cancel {
  color: #1c1c1c;
  width: 100%;
  padding: 8px 24px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: 600;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: white;
}



.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF0057;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
