.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-wrap: wrap;
  flex-direction: column
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.cat {
  font-size: 12px;
}
.hometitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #222222;
}

.homesoustitle{
  font-size: 16px;
  color: #717171;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 7px;
  transition: 0.3s;
}
.card-trip:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.card-trip:hover .icone-list-pers{
  color: #FF0057;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  margin: 0;
  text-shadow: #222222;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.add-favorite{
  margin-top: -190px !important;
  margin-right: 10px !important;
  font-size: 20px !important;
  color:#FF0057 !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "fa-regular fa-heart";
}
.add-favorite-active{
  margin-top: -190px !important;
  margin-right: 10px !important;
  font-size: 20px !important;
  color:#FF0057 !important;
  font-family: "Font Awesome 5 Free";
  content: "\f004";
}

.card-trip .card-trip-infos{
  padding: 16px 16px 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 118%;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-trip-infos h3 {
  font-size:14px;
  margin: 10px 0;
  font-weight: bold;
  font-style: italic;
}

.card-trip-infos .personnality-infos-card h6 {
  font-size:10px;
  margin: 5px 0;
  font-weight: bold;
  color: #333;
}

.rose {
  color:#FF0057
}

.linkdiv {
text-decoration: none;
color: #333;
}
.linkdiv:hover {
  text-decoration: none;
  color: #333;
  }
  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;

  }

  .personnality-infos-card .personnality-name {
    font-size: 19px;
    padding: 9px 10px 0px 10px;
    border-radius: 25px;
    color: black;
    font-family: sans-serif;
    margin-bottom: 0px;
  }

  .card-trip-rating {
    position: relative;
    bottom: 66px;
    left: -54px;
    padding: 10px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    color: black;
  }

  .price-text {
    font-size: 24px;
    color: #111;
    padding-left: 10px;
    padding-top: 5px;
    }

    .description-card {
      width: 100%;
      text-align: left;
      font-size: 12px;
    }

    .personnality-infos-card {
      width: 100%;
    }
