.personnality-infos{
  opacity: 0.7;
  transition-duration:0.3s;
  color: #333;
}


.icone-list-pers {
  font-size: 30px;
}

.icone-list-pers:hover {
  color: #FF0057;
}

.name-list-pers {
  font-size: 10px;
}

.rose {
  color: #FF0057;
}

.miniicone {
  font-size: 20px;
}
.personnality-infos {
        h2{
  margin-bottom: 0 !important;
}
}
