.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}
.navbar-nav .dropdown-menu {
  position: absolute;
  border-radius: 10px;
  margin-top: 0px;
  padding: 10px 0;
  margin-right: 25px;
  font-size: 14px;
  line-height: 30px;

}

.navbar-nav .dropdown-menu-connect{
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 30px;
}

.padding-item {
  padding: 5px 130px 5px 20px;
}

.border-bottom {
  border-bottom:1px solid #C9C9C9;
}

.item-bold {
  font-weight: bold;
}

.button-rounded {
  border: 1px solid #DDDDDD;
  padding: 5px 10px 5px 10px;
  border-radius: 28px;
  transition: box-shadow 1s ease-out 100ms

}
 .button-rounded:hover {
  box-shadow: 0px 2px 12px 2px #c9c9c9;

 }
